[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
pandas = "*"
pyarrow = "*"
seaborn = "*"

[dev-packages]
jupyter = "*"
pexpect = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
